{{ define "header" }}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:600|Roboto:400,700|Source+Code+Pro" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <title>GoPerf</title>
  </head>
  <body>
    {{ end }}
    {{ define "footer" }}
  </body>
</html>
{{ end }}
