{{ define "content" }}
<h1>module {{ .Module.Path }}</h1>
<div class="meta">
  <dl>
    <dt>Version</dt> <dd>{{ .Module.Version }}</dd>
  </dl>
</div>
<ul>
  {{ range .Packages }}
  <li>{{ . | pkg }}</li>
  {{ end }}
</ul>
{{ end }}
