{{ define "content" }}
    <h1>package {{ .Package.ImportPath }}</h1>
    <dl>
      <dt>Module</dt> <dd>{{ .Package.Module | mod }}</dd>
    </dl>
    <ul>
      {{ range .Benchmarks }}
      <li><a href="/bench/{{ .UUID }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
{{ end }}
