/*

Style derived from https://pkg.go.dev/static/css/stylesheet.css and
https://blog.golang.org/go-brand.

Original work is Copyright 2019 The Go Authors and BSD-3 licensed
(https://golang.org/LICENSE).

*/

:root {
  /* Color scheme from Brand Book https://golang.org/s/brandbook */
  --turq: #00758d;
  --slate: #555759;
  --cool-gray: #dbd9d6;

  --light-gray: #fafafa;
}

html {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

a,
a:link,
a:visited {
  color: var(--turq);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.3em;
}

code,
pre,
.code {
  font-family: "Go Mono", "Source Code Pro", monospace;
  font-size: 0.875rem;
}

pre {
  background-color: var(--light-gray);
  overflow-x: auto;
  padding: 0.625rem;
  border-radius: 0.3em;
  border: 0.0625rem solid var(--cool-gray);
}

.ln {
  color: var(--slate);
  display: inline-block;
  text-align: right;
  width: 6ch;
  padding-right: 2ch;
  user-select: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid var(--cool-gray);
  padding: 0.75rem 0;
  padding-right: 1rem;
}

th {
  text-align: left;
}

.sep {
  color: var(--slate);
  font-weight: bold;
}

header {
  background: var(--turq);
  border: none;
  margin: 0;
  padding: 0;
}

header nav {
  margin: 0 auto;
  max-width: 70em;
}

header .logo {
  display: block;
  width: 5rem;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 60em;
}

#chart {
  width: 100%;
  height: 500px;
}

.meta {
  overflow-x: hidden;
  font-size: 0.875rem;
}

.meta dl {
  position: relative;
  left: -0.75rem;
}

.meta dt,
.meta dd {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.meta dt {
  border-left: 1px solid var(--slate);
  padding-left: 0.75rem;
}

.meta dt::after {
  content: ":";
}

.meta dd {
  padding-right: 0.75rem;
}

.bignumber {
  text-align: center;
}

.bignumber .number {
  font-size: 10rem;
  margin: 0.2em 0;
}

.bignumber .unit {
  font-size: 5rem;
  color: var(--slate);
  margin-top: 0;
}

table.properties td.key {
  color: var(--slate);
  white-space: nowrap;
  font-weight: bold;
  text-transform: lowercase;
}

table.properties td.value {
  overflow-wrap: anywhere;
}
