/*

Style derived from https://pkg.go.dev/static/css/stylesheet.css and
https://blog.golang.org/go-brand.

Original work is Copyright 2019 The Go Authors and BSD-3 licensed
(https://golang.org/LICENSE).

*/

:root {
  --turq: #00758d;

  --gray-1: #202224;
  --gray-2: #3e4042;
  --gray-3: #555759;
  --gray-4: #6e7072;
  --gray-5: #848688;
  --gray-6: #aaacae;
  --gray-7: #c6c8ca;
  --gray-8: #dcdee0;
  --gray-9: #f0f1f2;
  --gray-10: #fafafa;
}

html {
  height: 100%;
}

body {
  color: var(--gray-1);
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

a,
a:link,
a:visited {
  color: var(--turq);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", Arial, sans-serif;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

code,
pre {
  font-family: "Go Mono", "Source Code Pro", monospace;
  font-size: 0.875rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid var(--gray-8);
  padding: 0.75rem 0;
  padding-right: 1rem;
}

th {
  text-align: left;
}

.sep {
  color: var(--gray-3);
  font-weight: bold;
}

header {
  background: var(--turq);
  border: none;
  margin: 0;
  padding: 0;
}

header nav {
  margin: 0 auto;
  max-width: 70em;
}

header .logo {
  display: block;
  width: 5rem;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 60em;
}

#chart {
  width: 100%;
  height: 500px;
}
