{{ define "title" }}File {{ .File.UUID }}{{ end }}

{{ define "content" }}
<h1>File {{ .File.UUID }}</h1>
<pre>
  {{ range .Lines -}}
  <span class="ln" id="L{{ .Num }}">{{ .Num }}</span>
  {{- if .Highlight -}}
  <span class="hl">{{ .Contents }}</span>
  {{- else -}}
  {{ .Contents }}
  {{- end }}
  {{ end }}
</pre>
{{ end }}
