{{ define "content" }}
<h1>module {{ .Module.Path }}</h1>
<div class="meta">
  <dl>
    <dt>Version</dt> <dd>{{ .Module.Version }}</dd>
  </dl>
</div>

<table>
  <tr>
    <th>Package</th>
  </tr>
  {{ range .Packages }}
  <tr>
    <td>{{ template "pkg" . }}</td>
  </tr>
  {{ end }}
</table>
{{ end }}
