{{ define "title" }}{{ .Module.Path }}{{ end }}

{{ define "content" }}
<h1>Module {{ .Module.Path }}</h1>

<dl class="meta">
  <div><dt>Version</dt> <dd>{{ template "modver" .Module }}</dd></div>
</dl>

<table>
  <tr>
    <th>Package</th>
  </tr>
  {{ range .Packages }}
  <tr>
    <td>{{ template "pkg" . }}</td>
  </tr>
  {{ end }}
</table>
{{ end }}
