{{ define "content" }}
<h1>Modules</h1>
<table>
  <tr>
    <th>Module</th>
    <th>Version</th>
  </tr>
  {{ range .Modules }}
  <tr>
    <td>{{ template "mod" . }}</td>
    <td>{{ .Version }}</td>
  </tr>
  {{ end }}
</table>
{{ end }}
