{{ define "bench" }}
{{ template "header" }}

<h1>{{ .Benchmark.Name }}</h1>
<table>
  <tr>
    <th>Commit</th>
    <th>Commit Time</th>
    <th>Value</th>
  </tr>
  {{ range .Points }}
  <tr>
    <td><code>{{ .CommitSHA }}</code></td>
    <td>{{ .CommitTime }}</td>
    <td>{{ .Value }}</td>
  </tr>
  {{ end }}
</table>

{{ template "footer" }}
{{ end }}
