{{ define "mod" }}
{{ template "header" }}

    <h1>{{ .Module.Path }}</h1>
    <p>Version: {{ .Module.Version }}</p>
    <ul>
      {{ range .Packages }}
      <li>
        <a href="/pkg/{{ .UUID }}"
          ><small>{{ .Module.Path }}/</small>{{ .RelativePath }}</a
        >
      </li>
      {{ end }}
    </ul>

{{ template "footer" }}
{{ end }}
