{{ define "mods" }}
{{ template "header" }}

    <ul>
      {{ range .Modules }}
      <li>
        <a href="/mod/{{ .UUID }}">{{ .Path }}</a> <small>{{ .Version }}</small>
      </li>
      {{ end }}
    </ul>

{{ template "footer" }}
{{ end }}
